# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: PR checks

on:
  pull_request:
    branches: [ "bug/test-action" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.14.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Test NPM test:unit
      run: |
          npm install
          npm run test
  
    - name: Jest coverage report
      uses: saravananceg/jest-coverage-report-action@main

      with:
        skip-step: all
        coverage-file: ./coverage/report.json
        base-coverage-file: ./coverage/report.json

